.App {
  position: relative;
}

.App-logo {

}

.App-header {
  padding:  30px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body{
  min-height: 50vh;
  text-align: center;
  padding: 60px 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.App-link {
  color: #61dafb;
}

button, input[type="submit"]{
  width: 300px;
  height: 46px;
  border-radius: 2px;
  background-color: #65c7ab;
  color: #ffffff;
  font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.1px;
  text-align: center;
}

/************************
*     Modal Styles      *
************************/

.shareModal{
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  text-align: left;
  font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
}

.shareModal header{
  position: relative;
  color: #424242;
  padding: 0px 20px;
}

.modalBody{
  background-color: #f7f7f7;
  padding: 20px;
  color: #333333;
  font-size: 14px;
}

.modalBody p{
  line-height: 1.5;
}

.modalBody img{
  width: 7%;
  margin-bottom: -8px;
}

.shareModal .closeBtn{
  width: 16px;
  height: 16px;
  font-weight: bold;
  position: absolute;
  right: 15px;
}

.shareModal .filePath{
  color: #9b9b9b;
}

.shareModal .videoTiming{
  color: #9b9b9b;
}

.slackChannelListing select{
  width: 100%;
  height: 40px;
  border-radius: 2px;
  border: solid 1px #dddddd;
}

.slackChannelListing select option:first-child{
  color: #ababab;
}

.shareWithSlack{
  margin-top: 5px;
}
.shareWithSlack button{
  width: 100%;
}

input[type="submit"]{
  width: 100%;
}

/********************************
*     Bootstrap Overwrites      *
********************************/
.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-top: 0px;
  border-radius: 4px;
}

.alert-success{
  width: 50%;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin:  auto;
  height: auto;
  color: #2cbf9d;
  background-color: #eafff6;
  border-color: #2cbf9d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.alert-success button{
  width: 5%;
  height: 2%;
}

.alert-dismissible .close{
  position: relative;
  top: -2px;
  right: -16px;
  color: inherit;
}

button.close{
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close{
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  color: #2cbf9d;
}

button span{
  color: #2cbf9d;
}